.container{
  }
.name{
  
  font-size: 2.8rem;
  line-height: 1;
  margin-block-start: 0;
  margin-block-end: 0;
}

.greeting{
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.work{
  font-size: 1rem;
  margin-block-start: 0.7rem;
}

@media screen and (max-width: 500px) {
  .name{
    width: min-content;
  }
}

@media screen and (min-width: 650px) {
  .name{
    font-size: 3.2rem;
  }
  
  .greeting{
    font-size: 1.7rem;
  }
  
  .work{
    font-size: 1rem;
  }
}