:root {
  --bg-color-dark: #2A292F;
  --bg-toolbar-color: #3F3D4D;
  --bg-footer-color: #1B1A1A;
  --color-dark: #9D9C9C;
  --light-color-dark:#F6F6F6;
  --bg-color: #566E76;
  --color: #1A1A1A;
  --light-color:#1A1A1A;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: var(--bg-color);
  color: var(--color); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

  body {
    color: var(--color-dark);
    background:var(--bg-color-dark);
  }
}

@media (prefers-color-scheme: light) {

  body {
    color: var(--color);
    background:var(--bg-color);
  }
}
